.d-flex {
	display: flex;
}
.text-center {
	text-align: center;
}
.flex-col {
	flex-direction: column;
}
.landing-img {
}

.ml-2 {
	margin-left: 2rem;
}

.landing-btn {
	color: var(--primary-colorone);
	background-color: #0f766e;
	border-color: var(--primary-colorone);
}
.landing-btn:hover {
	background-color: #2dd4bf;
}
