@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Libre Baskerville", serif;
	color: #0f766e;
	background-color: #ccfbf1;
}
.habit-light-text {
	color: #00bfa6;
}
.d-flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}
.d-flex-c-s {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.d-flex-c-a {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.mb2 {
	margin-bottom: 2rem;
}
.mb1 {
	margin-bottom: 1rem;
}
