@import url("http://fonts.googleapis.com/css?family=Libre+Baskerville");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Libre Baskerville", serif;
	color: #00bfa6;
	background-color: #ccfbf1;
}
